@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root{
    --light-blue : #04C3FF;
    --light-blue-shadow:  rgb(69 211 255 / 27%);
    --sea-green: #0ABEAD;
    --sea-green-dark: #0CBFAE;
    --sea-green-extra-dark: #09BEAD;
    --orange: #F57F17;
    --dark-orange: #FF5823;
    --main :#24263b;
}
html{
  scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
}
button{
  outline: none;
  border: none;
  background: none;
}
.row{
    margin: 0;
}
body{
    width: 100%;
    /* height: 300vh; */
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.top{
  position: fixed;
  bottom: 3%;
  right: 2%;
  color: white;
  background-color: var(--orange);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top:hover{
  color: white;
  background-color: var(--dark-orange);
  transform: scale(1.1);
  transition: 500ms;
}
.heading-div{
    width: 100%;
    padding: 30px 0;
    position: relative;
}
.heading-main{
    text-align: center;
    margin: 0;
    color: var(--main);
    font-size: 28px;
    font-weight: 900;
    font-family: cursive;
}
.heading-sub{
    text-align: center;
    margin-top: 5px;
    color: black;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: monospace;
}
.heading-design{
    width: 20%;
    margin: 0 40% 0 40%;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 0;
    padding: 0;
    position: absolute;
    bottom: -15px;
}
.head-icon{
    color: var(--dark-orange);
    font-size: 4rem;
    display: flex;
}
.head-line{
    width: 100%;
    background-color: var(--orange);
    place-self: center;
    border: none;
    border-radius: 50%;
    opacity: 1;
    margin: 0;
}
/* hr:not([size]) {
    height: 3px;
} */

.nav-container{
    width: max-content;
    padding: 0px 15px;
    background: rgba(255,255,255,0.85);
    z-index: 1000;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(0px);
    box-shadow: 0 2px 2px 1px var(--orange);
  }
  .nav-container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  .nav-container ul li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px;
    position: relative;
  }
  .nav-icon{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--dark-orange); 
    cursor: pointer;
  }
  .nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    white-space: nowrap;
    color: var(--dark-orange);
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
  }
  .nav-text.home{
    left: 20%;
  }
  .nav-text.about{
    left: 0;
  }
  .nav-text.testi{
    left: -10%;
  }
  .nav-container ul li a:hover .nav-icon{
    opacity: 0;
  }
  .nav-container ul li a:hover .nav-text{
    top: 50%;
    opacity: 1;
    transition: 800ms;
  }
  .active{
    transform: translateY(-50%);
    background-color: var(--orange);
    color: white;
    transition: 800ms;
  }
  .active1{
    opacity: 1;
    transition: 800ms;
  }
  .top-container{
    width: 100%;
    background-color: var(--main);
    position: relative;
  }
  .bg-design{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -1%;
  }
  .bg-design img{
    width: 100%;
    height: 100%;
  }
  .top-left, .top-right{
    width: 100%;
    padding: 100px 8%;
  }
  .hello{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding-top: 50px;
  }
  .hello>span{
    color: var(--dark-orange);
  }
  .typical{
    text-align: center;
    color: var(--light-blue);
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
  }
  .tagline{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: monospace;
    text-align: center;
    color: white;
  }
  .btn1{
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: var(--main);
    font-weight: 500;

  }
  .btn1:hover{
    border: 2px solid var(--orange);
    transform: scale(1.1);
    transition: 500ms;
  }
  .btn2, .btn3{
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: var(--orange);
    font-weight: 500;
  }
  .btn2:hover{
    background-color: white;
    color: var(--orange);
    transform: scale(1.1);
    transition: 500ms;
  }
  .top-right{
    padding-top: 50px;
  }
  .profile-container{
    width: 80%;
    margin-left: 10%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 0 var(--light-blue);
    border-radius: 50%;
  }
  .profile-pic{
    height: 92%;
    width: 92%;
    background-image: url(./assets/profile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation-name: pic;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
  @keyframes pic{
    0%{transform: scale(1);}
    100%{transform: scale(1.07);}
  }
  /* .profile-pic:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
  } */
  .about-div{
    width: 80%;
    margin: 40px 10%;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(36,38,59,1);
  }
  .about-left, .about-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
  }
  .about-left img{
    width: 80%;
    height: 70vh;
  }
  .about-content{
    letter-spacing: 1px;
    line-height: 1.8;
    font-family: 'Kalam', cursive;
    font-size: 16px;
  }
  .about-right h4{
    font-family: 'Kalam', cursive;
  }
  .about-points {
    font-size: 18px;
    font-family: 'Kalam', cursive;
    color: var(--main)
  }
  .about-points span{
    color: var(--orange);
    font-size: 18px;
  }
  .about-right p:nth-last-child(1){
    width: 75%;
  }
  .btn3{
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: var(--orange);
    font-weight: 500;
  }
  .btn3:hover{
    color: var(--main);
    transform: scale(1.1);
    transition: 500ms;
  }
  .resume-div{
    width: 100%;
    padding: 40px 10%;
    height: 500px;
  }
  .res-col{
    height: 100%;
  }
  .resume-left, .resume-right{
    width: 100%;
    height: 100%;
    /* overflow: hidden;
    scroll-behavior: smooth; */
  }

  .resume-left{
    box-shadow: 9px 0px 6px -4px rgba(36,38,59,0.5);
  }
  .resume-icon-div{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 0px 0px;
    background-color: var(--main);
  }
  .resume-icon button{
    color: white;
    font-size: 19px;
    padding: 7px 10px;
    position: relative;
  }
  .resume-topic{
    position: absolute;
    top: 0;
    left: 100%;
    color: var(--main);
    padding: 9px 50%;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto;
    border-radius: 0 25px 25px 0;
    white-space: nowrap;
    width: 800%;
    /* visibility: hidden; */
  }
  .visible1{
    background-color: var(--main);
    color: white;
    animation: vis 500ms ease-in 1;
  }
  @keyframes vis{
    0%{background:none}
    100%{background-color: var(--main);}
  }
  .education, .work, .interest{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    display: none;
    /* animation: disp 1s ease-in-out 1; */
  }
 /* .display-resume{
  display: flex; */
  /* animation: disp 1s ease-in-out 1; */
  /* animation-name: disp;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; */
 /* } */
 /* @keyframes disp{
  0%{display:none;}
  100%{display: flex;}
 } */


  .resume-main-points{
    color: var(--dark-orange);
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
  }
  .year{
    background-color: var(--dark-orange);
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
  }
  .resume-sub-points{
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0 10px 35px;
    margin-bottom: 0;
  }
  .know-more{
    color: var(--orange);
    font-size: 13px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: inherit;
  }
  .know-more:hover{
    color: var(--dark-orange);
  }

  .skill{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .tech, .soft{
    padding: 10px 0px;
   
}
.tech>h3, .soft>h3{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1.5px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--main);
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
}
.tech:hover>h3, .soft:hover>h3{
    font-weight: 800;
    color: black;
}

.progress-bar-container{
    margin-bottom: 20px;
}
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.tech:hover .progress-bar-container h2, .soft:hover .progress-bar-container h2 {
    font-weight: 600;
}
.progress-bar {
    width: 100%;
    height: 10px;
    margin-top: 5px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: white;
}
.percentage {
    display: block;
    height: 100%;
    background-color: var(--orange);
    border-radius: 10px;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.tech:hover .percentage, .soft:hover .percentage{
    background-color: var(--dark-orange);
}
.t1 {animation-name: t1;}

.t2 {animation-name: t2;}

.t3 {animation-name: t3;}

.t4 {animation-name: t4;}

.t5 {animation-name: t5;}

.t6 {animation-name: t6;}

@keyframes t1{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}
@keyframes t2{
    0%{width: 0;}
    30%{width: 85%;}
    100%{width: 85%;}
}
@keyframes t3{
    0%{width: 0;}
    30%{width: 95%;}
    100%{width: 95%;}
}
@keyframes t4{
    0%{width: 0;}
    30%{width: 75%;}
    100%{width: 75%;}
}
@keyframes t5{
    0%{width: 0;}
    30%{width: 65%;}
    100%{width: 65%;}
}
@keyframes t6{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}

.s1 {animation-name: s1;}

.s2 {animation-name: s2;}

.s3 {animation-name: s3;}

.s4 {animation-name: s4;}

.s5 {animation-name: s5;}

.s6 {animation-name: s6;}

@keyframes s1{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}
@keyframes s2{
    0%{width: 0;}
    30%{width: 85%;}
    100%{width: 85%;}
}
@keyframes s3{
    0%{width: 0;}
    30%{width: 80%;}
    100%{width: 80%;}
}
@keyframes s4{
    0%{width: 0;}
    30%{width: 90%;}
    100%{width: 90%;}
}
@keyframes s5{
    0%{width: 0;}
    30%{width: 85%;}
    100%{width: 85%;}
}
@keyframes s6{
    0%{width: 0;}
    30%{width: 75%;}
    100%{width: 75%;}
}
.percent{
    font-weight: 700;
    animation: per 3s ease-in infinite;
}
@keyframes per{
    0%{opacity: 0;}
    30%{opacity: 1;}
    100%{opacity: 1;}
}
.project{
  width: 100%;
  height: 100%;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 20px;
  place-items: center;
  display: none;
}
.project-number{
  box-shadow: 4px 4px 5px 1px var(--orange);
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-name{
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-orange);
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;

}
.project-description{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}
.project-number span{
  font-size: 21px;
}
.project-number:hover{
  background-color: var(--dark-orange);
  transition: 500ms;
}
.project-number:hover .project-name, .project-number:hover .know-more, .project-number:hover span{
  color: white;
  transition: 500ms;
}
.test-outer{
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.testimonial-container{
  width: 100%;
  height: 575px;
  margin-top: 40px;
  /* padding: 30px 10% 120px 10%; */
  background: url(./assets/testimonial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(15%);
  opacity: 0.9;
}
.carousel-div{
  width: 80%;
  position: absolute;
  top: 15%;
  left: 10%;
}
.testimonial-number{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 75px 75px 75px 0;
}
.testimonial{
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Kalam', cursive;
  line-height: 1.5;
  text-align: center;
}
.testimonial span{
  color: var(--dark-orange);
  font-size: 28px;
  font-weight: 900;
}
.star{
  font-size: 20px;
  font-weight: 800;
  color: var(--dark-orange);
}
.test-name{
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 0;
}
small{
  font-size: 13px;
}
.contact-div{
  width: 80%;
  margin: 40px 10%;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(36,38,59,1);
}
.con-left, .con-right{
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  height: 100%;
}

.con-img{
  overflow: hidden;
}
.con-img img{
  width: 100%;
}
.con-left:hover .con-img img{
  transform: scale(1.2,1.2);
  transition: 0.5s;
}
.con-text h3{
  text-decoration: underline;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.con-text p{
  font-size: 17px;
  font-weight: 400;
  word-wrap: break-word;
  font-family: 'Kalam', cursive;
}
.con-text p:nth-of-type(2){
  font-family: monospace;
}
.con-text p:nth-of-type(3){
  font-family: monospace;
}
.con-social{
  width: max-content;
  display: flex;
  gap: 15px;
  color: var(--orange);
  font-size: 20px;
}
.con-social a:hover{
  color: var(--dark-orange);
  transform: scale(1.2);
}
.mail-img{
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}
.mail-img img{
  width: 100%;
  height: 100%;
}
.btn-send{
    color: var(--main);
    width: max-content;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--orange);
    font-weight: 500;
    margin-top: 15px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    font-size: 14px;
}
.btn-send:hover{
  color: white;
  background-color: var(--dark-orange);
  border: 1px solid var(--orange);
  transform: scale(1.05);
  transform: 500ms;
}
.con-right span{
  display: block;
  text-align: center;
}
.input-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.copy{
  width: 100%;
  padding: 20px;
  background-color: var(--main);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

  

